@charset "UTF-8";

/* ───────────────────── 마이 페이지 CSS ───────────────────── */

/* 백그라운드 */
.superContainer {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/myPageImg.jpg");
   /* 별이 빛나는 밤 이미지 경로를 여기에 입력 */
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh; /* 뷰포트 높이의 최소값을 가지며 폼이 항상 화면 중앙에 위치하도록 합니다. */
   background-size: cover;
   padding-bottom:100px;
   
}

/* 버튼 스타일 */
.myPageForm button[type="button"] {
   background-color: #002f47; /* 짙은 파란색 배경 */
   color: #ffdc6b; /* 황금색 글자색 */
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   margin: 10px 0;
}

.myPageForm button[type="button"]:hover {
   background-color: #ffdc6b; /* 호환색 배경 */
   color: #002f47; /* 짙은 파란색 글자색 */
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* 그림자 효과 강화 */
}

/* 정보 스타일 */
.myPageForm span {
   display: inline-block;
   margin: 10px;
   margin-right: 300px;
   font-size: 16px;
   color: #2C3E50; /* 어두운 색상의 글자 선택 */
}

/* 수평 선 스타일 */
.myPageForm hr {
   border: 1px solid #ccc;
   margin: 20xp 0;
}

/* 컨테이너 스타일 */
.myPageForm {
   min-width: 600px; /* 폼의 최대 너비 설정 */
   width:800px;
   margin: 0 auto; /* 가운데 정렬 */
   text-align: center; /* 폼 안의 내용을 중앙 정렬 */
   padding: 20px;
   background-color: #ECF0F1; /* 연한 회색 배경색 선택 */
   border: 1px solid #ccc;
   border-radius: 0 0 10px 10px; /* 둥근 테두리 적용 */
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* 테두리 그림자 효과 추가 */
   
}

.myPageBanner {
   min-width: 600px;
   width: 800px;
   margin: 0 auto;
   border-radius: 10px 10px 0 0;
   background-image: url("/images/myPageBanner.png");
   background-size:cover;
   height: 150px;
}

/* ───────────────────── 문의 내역 CSS ───────────────────── */
.listTable {
   width: 1500px;
   border-collapse: collapse;
   margin-top: 20px;
   table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
}

.listTable th, .listTable td {
   border: 1px solid #ccc;
   padding: 10px;
   text-align: center;
   white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
   overflow: hidden; /* 텍스트 오버플로우 숨김 */
   text-overflow: ellipsis;
}

.listTable th {
   background-color: #002f47; /* 짙은 파란색 배경 */
   color: #ffdc6b;
   letter-spacing: 3px;
}

.listTable th:first-child {
   width: 50px;
}

.listTable tbody tr:nth-child(odd) {
   background-color: #fff;
}

/* 페이지네이션 스타일 */
.listPagination {
   list-style: none;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.listPagination li {
   margin: 0 5px;
}

.listPagination a {
   text-decoration: none;
   padding: 5px 10px;
   background-color: #002f47; /* 짙은 파란색 배경 */
   color: #ffdc6b;
   border-radius: 3px;
   color: #ffdc6b;
}

.listPagination a:hover {
   background-color: #ffdc6b; /* 호환색 배경 */
   color: #002f47; /* 짙은 파란색 글자색 */
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* 그림자 효과 강화 */
}

.listPagination .page-item.active a {
   background-color: #007bff;
}

/* "문의하기" 버튼 스타일 */
.listBtn {
   background-color: #002f47; /* 짙은 파란색 배경 */
   color: #ffdc6b; /* 황금색 글자색 */
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   margin: 10px 0;
   width: 300px;
}

.listBtn:hover {
   background-color: #ffdc6b; /* 호환색 배경 */
   color: #002f47; /* 짙은 파란색 글자색 */
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* 그림자 효과 강화 */
}

/* ───────────────────── 문의 내역 MEDIA START ───────────────────── */

/* null */

/* ───────────────────── 문의 내역 MEDIA END ───────────────────── */

/* ───────────────────── 문의 등록 CSS ───────────────────── */

/* 폼 스타일 */
.listForm {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 2px 2px 5px #ccc;
}

.listRegisterTable {
   width: 100%;
}

.listRegisterTable th {
   text-align: left;
}

.listRegisterTable input[type="text"], .listRegisterTable textarea {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 3px; /* textarea의 크기가 border를 포함하도록 설정 */
   resize: none
}

.listForm button[type="button"] {
   background-color: #002f47;
   color: #ffdc6b;
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   margin: 10px 0;
}

.listForm button[type="button"]:hover {
   background-color: #ffdc6b;
   color: #002f47;
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.listRegisterTable a {
   text-decoration: none;
   color: #007bff;
}

/* ───────────────────── updateUserPayment(토큰 충전) CSS ───────────────────── */
.paymentForm {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 2px 2px 5px #ccc;
   text-align: center;
}

.paymentTable {
   margin: auto;
   width: 300px;
}

.paymentForm button[type="button"] {
   background-color: #002f47;
   color: #ffdc6b;
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   width: 300px;
   margin: 10px 130px;
}

.paymentForm button[type="button"]:hover {
   background-color: #ffdc6b;
   color: #002f47;
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.paymentForm strong {
   font-size: 32px;
}

/* ───────────────────── 관리자 페이지 CSS ───────────────────── */

.adminPageIconLink {
   width: 320px;
   height: 300px;
   background-color: #fff;
   border: 10px solid #333;
   margin: 20px;
   text-align:center;
   letter-spacing:3px;
}

.adminPageIconLink:hover {
   border: 10px solid #red;
}

.adminPageIconLink img {
   width: 300px;
   height:180px;
}

.adminPageIconLink a {
   font-size:50px;
}

.adminPageContainer {
display:flex;
align-items: center;
justify-content: center;
}